<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>

<nav th:replace="header :: nav"></nav>

<main role="main" class="container col-md-6 offset-md-3">

    <div class="card">

        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Реєстрація водія</strong>
        </h5>

        <div class="card-body px-lg-5 pt-0">
            <form class="text-center border border-light p-5 col-md-6 offset-md-3">
                <p class="h4 mb-4">Реєстрація водія</p>

                <div th:switch="${error}">
                    <div th:case="null" class="form-row mb-4">
                        <div class="col">
                            <p>Дякуємо за подану заявку. Заявка буде розглянута протягом кількох днів. Очікуйте листа з підтвердженням на свою ел. пошту, вказану при реєстрації</p>
                        </div>
                    </div>
                    <div th:case="*" class="form-row mb-4">
                        <div class="col">
                            <p th:text="${error}"></p>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</main>

<footer th:replace="footer :: footer"></footer>
<script src="map.js"></script>
</body>
</html>