<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
    <a class="navbar-brand" href="#">ServeGruz v2.0</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Домашня</a>
            </li>
            <div sec:authorize="hasAuthority('DISP')" th:remove="tag">
                <li class="nav-item">
                    <a class="nav-link" href="/admin_truck_orders">Замовлення</a>
                </li>
            </div>
            <div sec:authorize="hasAuthority('ADMIN')" th:remove="tag">
                <li class="nav-item">
                    <a class="nav-link" href="/admin_truck_drivers">Водії</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin_trucks">Авто</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin_truck_orders">Замовлення</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin_truck_statistics">Аналітична система</a>
                </li>
            </div>
            <div sec:authorize="hasAuthority('DRIVER')" th:remove="tag">
                <li class="nav-item">
                    <a class="nav-link" href="/truck_driver_orders">Мої замовлення</a>
                </li>
            </div>


            <!--
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            -->
        </ul>
        <div sec:authorize="not hasAuthority('DRIVER') and not hasAuthority('ADMIN') and not hasAuthority('DISP')" th:remove="tag">
            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn btn-outline-dark" href="/login" role="button">Вхід</a>
            </form>
        </div>
        <div sec:authorize="hasAuthority('DRIVER') or hasAuthority('ADMIN') or hasAuthority('DISP')" th:remove="tag">
            <form class="my-2 my-lg-0">
                <p class="m-2">Поточний користувач: <span sec:authentication="name"></span></p>
            </form>
            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn btn-outline-dark" href="/logout" role="button">Вихід</a>
            </form>
        </div>
    </div>
</nav>

</html>