<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<!--
<head>
    <title>Spring Security Tutorial</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
-->
<head th:replace="head :: head"></head>
<nav th:replace="header :: nav"></nav>

<body>

<main role="main" class="container-fluid col-md-4 offset-md-4">

    <div class="card shadow blue-card custom-card mt-3" id="card">

        <h5 class="card-header info-color text-center py-4">
            <strong>Авторизація</strong>
        </h5>

        <div class="container mt-3 mb-3 mw-100">
            <form th:action="@{/login}" method="POST" class="form-signin">
                <input type="text" id="email" name="email" placeholder="Email"
                       class="form-control blue-card-input mb-4 mt-4"/>
                <input type="password" th:placeholder="Пароль"
                       id="password" name="password" class="form-control blue-card-input mb-4 mt-4"/>
                <div align="center" th:if="${param.error}">
                    <p style="font-size: 20; color: #FF1C19;">Перевірте правильність даних для авторизації</p>
                </div>
                <button class="btn btn-lg btn-success btn-block" name="Submit" value="Login" type="Submit"
                        th:text="Вхід"></button>
            </form>
        </div>
    </div>
</main>

<footer th:replace="footer :: footer"></footer>
<script src="map.js"></script>
<script src="register_form.js"></script>
<script src="admin.js"></script>

</body>
</html>